/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 mar 2023, 10:32:10
    Author     : Juan Manuel Morales Martín
*/

.button{
    -fx-background-images: url("../images/car.png");
    -fx-background-size: 50px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.root{
    -fx-background-color: blueviolet;
    
    
}

.label{
    -fx-background-color: lightcoral;
    -fx-opacity: 50;
    
}

#btn1{
    -fx-background-images: url("../images/car.png");
    
    
}
